:root {
  --color-212529: #212529;
  --color-ffd333: #ffd333;
  --color-47ad24: #47ad24;
  --color-e52e2e: #e52e2e;
  --color-828599: #828599;
  --color-3d464d: #ed464d;
  --color-c3d4da: #ced4da;
}
.green {
  color: var(--color-47ad24);
  font-size: 14px;
  font-family: Roboto !important;
}
.red {
  color: var(--color-212529);
  font-size: 14px;
  font-family: Roboto !important;
}
.quill {
  background-color: white;
}

.form-control {
  box-shadow: none;
  border-color: var(--color-c3d4da);
}
.title {
  font: 28px;
  font-family: Roboto !important;
  color: var(--color-212529);
}

.sub-title {
  font: 24px;
  font-family: Roboto !important;
  color: var(--color-212529);
}
.desc {
  font: 14px;
  font-family: Roboto !important;
  color: var(--color-828599);
}


/* style for login and register pages*/

.Load {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  /*background-image: linear-gradient(79deg, #0b8b16, #40adb4 48%, #789c12);*/
  background-image: url(./images/2.jpg);
  background-size: cover;
  ;
}

.auth-form-container, .signin-form, .signup-form {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 1rem 3rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.25rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: rgb(226, 214, 214);
  padding: 20px;
  margin: 2rem 0;
  border-radius: 10px;
  cursor: pointer;
  color: #720d6d;
}

.link-btn {
  background: none;
  margin: 0.05rem 0;
  color: white;
  text-decoration: underline;
}

/* home, product part css*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

